<nav class="navbar navbar-dark bg-dark">
  <h1>
    <a class="navbar-brand" href="#">Report page</a>
  </h1>
  <form>
      <div class="row">
        <div class="col-md-4">
          <input class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [(ngModel)]="dateTimeStart" name="Session Start" placeholder="Session Start">
          <owl-date-time #dt1></owl-date-time>
        </div>
        <div class="col-md-4">
          <input class="form-control" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" [(ngModel)]="dateTimeEnd" name="Session End" placeholder="Session End">
          <owl-date-time #dt2></owl-date-time>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary buttonSearch" (click)="search()">Search</button>
            <button class="btn btn-danger" (click)="reset()">Reset</button>
        </div>
      </div>
    </form>
</nav>

<div>
  <app-supervisor *ngFor="let supervisor of report" [supervisor]="supervisor"></app-supervisor>
</div>